<div class="home-container" *ngIf="!upi_state && !webqr_state && !textqr_state">
    <header class="header">
      <h1>Welcome to My Website</h1>
    </header>
  
    <section class="features">
      <div class="feature">
        <img src="assets/UPI-QR-LOGO.jpg" alt="qr" class="upi-qr" (click)="UpiState()">
        <h2>upi qr</h2>
        <p>generate upi qrcode</p>
      </div>
      <div class="feature">
        <img src="assets/web.png" alt="web qr" class="upi-qr" (click)="WebQr()">
        <h2>web qr</h2>
        <p>generate qr with url</p>
      </div>
      <div class="feature">
        <img src="assets/qr.png" alt="normal qr" class="upi-qr" (click)="TextQr()">
        <h2>normal qr</h2>
        <p>generate qr with text</p>
      </div>
    </section>
  
    <div class="contac">
        <footer class="footer">
        <p>&copy; 2024 My Website. All rights reserved.</p>
        </footer>
    </div>
  </div>
  
  <app-upi *ngIf="upi_state"></app-upi>

<div class="url" *ngIf="webqr_state && !qr_state">
  <form [formGroup]="UrlForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="url">URL:</label>
      <div class="span">
        <span
          *ngIf="
            (UrlForm.get('url')?.invalid && UrlForm.get('url')?.touched) ||
            url_error
          "
        >
          Please enter a valid URL!
        </span>
      </div>
      <input
        type="text"
        id="url"
        formControlName="url"
        [class.bordererrorcolor]="
          (UrlForm.get('url')?.invalid && UrlForm.get('url')?.touched) ||
          url_error
        "
      />
    </div>
    <div class="button">
      <button type="submit">Submit</button>
      <button (click)="WebQr()">Back</button>
    </div>
  </form>
</div>

<div class="url" *ngIf="textqr_state && !qr_state">
  <form [formGroup]="TextForm" (ngSubmit)="onTextSubmit()">
    <div class="form-group">
      <label for="url">Text:</label>
      <div class="span">
        <span
          *ngIf="
            (TextForm.get('text')?.invalid && TextForm.get('text')?.touched) ||
            textqr_error
          "
        >
          Text can't be null !!!
        </span>
      </div>
      <textarea
      id="url"
      formControlName="text"
      [class.bordererrorcolor]="
        (TextForm.get('text')?.invalid && TextForm.get('text')?.touched) || textqr_error
      "
    ></textarea>
    </div>
    <div class="button">
      <button type="submit">Submit</button>
      <button (click)="TextQr()">Back</button>
    </div>
  </form>
</div>

<div *ngIf="qr_state">
  <app-qr [url]="urlValue"></app-qr>
</div>